# Server
LISTEN_ADDR=:8080

# Workers y cola
WORKER_COUNT=2
QUEUE_CAPACITY=20

# Descargas
DOWNLOAD_DIR=data/downloads
# Ruta binario. Si queda en "yt-dlp", se intentara usar primero ./yt-dlp.exe o ./yt-dlp
YTDLP_BIN=yt-dlp
# Ruta de ffmpeg y ffprobe para yt-dlp
FFMPEG_LOCATION=C:\Shared\ffmpeg\bin

# Limpieza (formato Go duration: 1h, 30m, etc)
CLEANUP_EVERY=1h
FILE_TTL=24h

# Limites
MAX_BODY_BYTES=1048576
WS_WRITE_TIMEOUT=5s
